@import url('https://use.typekit.net/dgu5tnx.css')

html, body
  margin 0
  padding 0
  overflow hidden
  color #1f0051
canvas
  width 100%
  height 100%
  outline none
  z-index 1
  position absolute
  top 0
  left 0

.background
  width 100%
  height 100vh

.startScreen
  position absolute
  top 0
  left 0
  height 100vh
  width 100%
  background #ffffff
  display flex
  justify-content center
  align-items center
  flex-direction column
  background-image url(../../static/carte.svg)
  background-repeat no-repeat
  background-size cover
  background-position center center
  z-index 10
  & h1
    font-family 'SharpRegular' sans-serif
    font-size 72px
    text-align center
  & button
    margin-top 42px
    text-align center
    font-size 22px
    font-family 'acumin-pro' sans-serif
    font-weight 400
    background #ffffff
    border 1px solid #1f0051
    padding 10px 15px
    border-radius 25px
    cursor pointer
    outline none
    color #1f0051

.ball
  width 26px
  height 26px
  background transparent
  border 1px solid #ffffff
  border-radius 50%
  position absolute
  top -13px
  left -13px
  cursor pointer
  z-index 20
  &:hover
    top -14px
    left -14px
    border 2px solid #ffffff

.map
  margin 30px 0

.location
  margin-top 120px

#paris
  padding 100px 50px
  box-sizing border-box
  text-align center
  position absolute
  display flex
  align-items center
  justify-content center
  flex-direction column
  right 0
  top 0
  height 100vh
  background #ffffff
  font-family sans-serif
  & h2
    font-family 'SharpRegular' sans-serif
    font-size 35px
    font-weight 400
    margin 0
    padding 0
  & span
    display flex
    justify-content center
    padding 0    
    &.description
      font-size 24px
      font-family 'acumin-pro' sans-serif
      font-weight 400
      margin-bottom 8px
      text-align center
    &.age
      font-family 'acumin-pro' sans-serif
      font-weight 200
      font-size 16px
      margin-bottom 38px
    &.arrondissements
      margin-top 30px
      margin-bottom 34px
      font-weight 400
      font-family 'acumin-pro' sans-serif
      font-weight 400
      padding 10px 15px
      border-radius 30px
      box-shadow 0px 0px 8px rgba(0, 0, 0, 0.1)
      display flex
      align-items center
      user-select none
      & img
        margin-right 12px
  & ul
    margin 0
    padding 0
    list-style none
    display flex
    justify-content space-between
    flex-wrap wrap
    width 240px
    & li
      user-select none
      margin 10px
      display flex
      justify-content center
      align-items center
      width 40px
      height 40px
      font-size 22px
      font-family 'acumin-pro' sans-serif
      font-weight 200
      cursor pointer
      border-radius 50%
      &.active
        color #ffffff

districts_colors = ( #ffa4dc #82f4a5 #ffd3b3 #e9ffab #e097ff #43d1c6 #ff9880 #ffeea6 #ff66c5 #c2ffc2 #683eff #80a4f1 #d4ccf8 #ffe3e3 #b8e7ff #7788aa #ffabbf #ff5a5a #ff944a #f4c3f0 )

for num in range(1, 20)
  .district-{num}:hover, .district-{num}.active, .district-{num}.hover
    background districts_colors[num - 1]

for num in range(1, 20)
  #_{num}-2:hover, #_{num}-2.active, #_{num}-2.hover
    fill districts_colors[num - 1]
  #_{num}-2.hover
    cursor pointer

.colorPoint
  animation-duration 15s
  animation-name changeColor
  animation-iteration-count infinite
  transition 0.32s color linear

@keyframes changeColor
  for num in range(0, 19)
    {5% * num}
      color districts_colors[num]

::selection
  color #ffffff
  background var(--color)
  outline-color var(--color)

::-moz-selection
  color #ffffff
  background var(--color)
  outline-color var(--color)